* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

$mainblack: #000;
$maingreen: #8bcf31;
$mainwhite: #fff;
$maingrey: #ececec;

body {
	font-family: "Roboto", "Open Sans", sans-serif;
	background: $mainwhite;
	color: $mainblack;
}
